:root {
    /* Global Styles */
    --bg-color: #F9FAFC;
    
    /* Typography */
    --font-family: 'Lato', sans-serif;
    --brand-font-size: 1.8rem;
    --brand-font-weight: 700;
    --brand-color: #FF6B6B;
    --thin-font-weight: 300;

    /* Colors */
    --red-o-color: #FF6B6B;
    --like-btn-color: #FF6B6B;
    --like-btn-hover-color: #FF3D3D;

    /* Background Colors */
    --light-bg-color: #fff;
    --dark-bg-color: #445261;
    --main-bg-color: #F9FAFC;
}

/* Global Styles */
body {
    background-color: var(--bg-color);
    color: #4A4A4F;
    font-family: var(--font-family);
}

/* Typography */
.brand {
    font-size: 1.4rem;
    font-weight: 700;
    color: #0074e4; /* Change to the desired color */
    font-family: 'Pacifico', cursive; /* Keep the desired font */
}

.red-o {
    color: var(--red-o-color);
}

.thin {
    font-weight: var(--thin-font-weight);
}

/* Background Colors */
.light-bg {
    background-color: var(--light-bg-color);
}

.dark-bg {
    background-color: var(--dark-bg-color);
}

.main-bg {
    background-color: var(--main-bg-color);
}

/* Like Button */
.btn-like {
    color: var(--like-btn-color);
    border: none;
    background: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn-like:hover,
.btn-like:active {
    color: var(--like-btn-hover-color);
    background: transparent;
    border: none;
}

/* Default styles */

@media (max-width: 768px) {
    /* Styles for screens up to 768px wide (e.g., tablets) */
    .navbar-brand .brand {
        font-size: 1.5rem;
    }

    /* Add more responsive styles here */
}

@media (max-width: 576px) {
    /* Styles for screens up to 576px wide (e.g., mobile phones) */
    .navbar-brand .brand {
        font-size: 1.2rem;
    }

    /* Add more responsive styles here */
}
