/* Global Styles */
:root {
    --background-color: #F9FAFC;
    --text-color: #4A4A4F;
    --accent-color: #E84610;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Typography */
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
}

/* Background Colors */
.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: var(--background-color);
}

/* Links and Buttons */
.post-link {
    text-decoration: none;
    color: var(--text-color);
}

.post-link:hover,
.page-link {
    color: var(--accent-color);
}

/* Like Button */
.btn-like {
    color: var(--accent-color);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: var(--accent-color);
    background: transparent;
    border: none;
}
