{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    /* Modern Typography */
    body {
        font-family: 'Roboto', sans-serif; /* Use a contemporary font */
    }

    /* Hero Section Styles */
    .hero-section {
        background-image: url('{% static "images/foodiesfeed.com_exotic-spices.jpg" %}');
        background-size: cover;
        background-position: center;
        color: #fff;
        padding: 100px 0;
        text-align: center;
    }

    .hero-title {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .hero-subtitle {
        font-size: 1.5rem;
    }

    /* Add hover effect to blog post cards */
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s, box-shadow 0.2s;
    }

    #latest-recipes {
    background-color: #f9f9f9; 
    padding: 80px 0; 
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.recipe-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #333; 
}

.recipe-description {
    font-size: 16px;
    margin-top: 10px;
    color: #666; 
}

.recipe-image-container {
    height: 200px; 
    overflow: hidden;
}

/* Recipe card container */
.recipe-card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 15px; /* Add spacing between cards */
}

/* Recipe card */
.recipe-card {
    text-align: center;
    transition: transform 0.3s ease;
    height: 100%; /* Add this line to ensure all recipe cards have the same height */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-card .recipe-image {
    height: 200px; /* Set a fixed height for recipe card images */
    overflow: hidden; /* Hide any overflowing content */
}

.recipe-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.recipe-card:hover {
    transform: scale(1.05); /* Increase the size of the card on hover */
}

/* Adjust spacing between columns */
.recipe-card-container + .recipe-card-container {
    margin-left: 15px; /* Add spacing between columns */
}

/* For smaller screens, stack the recipe cards vertically */
@media (max-width: 768px) {
    .recipe-card-container {
        flex-direction: column;
        align-items: center;
    }

    .recipe-card-container + .recipe-card-container {
        margin-left: 0; /* Remove spacing between columns */
        margin-top: 15px; /* Add spacing between rows */
    }
}

</style>

<!-- Hero Section -->
<section class="hero-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Add background color for text -->
                <h1 class="hero-title">Discover the Culinary World</h1>
                <p class="hero-subtitle">Explore the Tastiest Creations</p>
                <a href="#latest-recipes" class="btn btn-primary btn-lg" id="scroll-to-latest-recipes">Get Started</a>
            </div>
        </div>
    </div>
</section>

<section id="latest-recipes">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Latest Recipes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="recipe-card">
                    <div class="recipe-image recipe-image-container">
                        <img src="static/images/oyster-250876_640.jpg" alt="Recipe 1">
                    </div>
                    <h3 class="recipe-title">Oysters Rockefeller</h3>
                    <p class="recipe-description">
                        * 24 Oysters live in shell
                        * 4 tablespoon butter
                        * 2 shallots finely minced
                        * 10oz baby spinach
                        * 12oz heavy cream
                        * ½ cup Romano cheese
                        * ½ teaspoon black pepper
                        * 1 tablespoon lemon juice
                        * ¼ cup panko bread crumbs
                        * 1 tablespoon Pernod or white wine optional
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="recipe-card">
                    <div class="recipe-image recipe-image-container">
                        <img src="static/images/salmon-6353898_640.jpg" alt="Recipe 1">
                    </div>
                    <h3 class="recipe-title">Cajun Baked Salmon</h3>
                    <p class="recipe-description">
                        * 2 lbs salmon fillets
                        * 1 1/2-2 tbsp Cajun seasoning for salmon
                        * 3 tbsp olive oil divided
                        * 2 tsp Cajun seasoning for veggies
                        * 2 large bell peppers
                        * 1 red onion
                        * 3 garlic cloves
                        * salt** (may or may not be needed depending on Cajun seasoning mix)
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="recipe-card">
                    <div class="recipe-image recipe-image-container">
                        <img src="static/images/shrimp-1502724_640.jpg" alt="Recipe 1">
                    </div>
                    <h3 class="recipe-title">Grilled garlic butter langoustines</h3>
                    <p class="recipe-description">
                        * 1kg Irish langoustines
                        * juice of 1 lemon
           
                        FOR THE GARLIC BUTTER
                        * 125g butter
                        * 1 large garlic clove, crushed
                        * 1 tbsp finely chopped parsley
                        * ¼ tsp fine sea salt
                    </p>
                </div>
            </div>
            <!-- Add more recipe cards here if needed -->
        </div>
    </div>
</section>

    

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <img class="card-img-top" src="{% static 'images/chad-montano-eeqbbemH9-c-unsplash.jpg' %}">
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the "Get Started" button element
        var scrollToLatestRecipesButton = document.getElementById("scroll-to-latest-recipes");
    
        // Get the target element to scroll to (the "latest-recipes" section)
        var latestRecipesSection = document.getElementById("latest-recipes");
    
        // Add a click event listener to the button
        scrollToLatestRecipesButton.addEventListener("click", function(event) {
            event.preventDefault(); // Prevent the default behavior of the anchor link
    
            // Scroll smoothly to the target element
            latestRecipesSection.scrollIntoView({ behavior: "smooth" });
        });
    });
    </script>

<script>
    function setDynamicStyles(textColor, bgColor, linkColor) {
        document.documentElement.style.setProperty('--text-color', textColor);
        document.documentElement.style.setProperty('--background-color', bgColor);
        document.documentElement.style.setProperty('--link-color', linkColor);
    }
</script>

{% endblock %}
